---
import { getAllPosts, getAllTags, getRankedPosts } from '@/lib/notion/client.ts'
import Layout from '@/layouts/Layout.astro'
import NoContents from '@/components/NoContents.astro'
import PostDate from '@/components/PostDate.astro'
import PostTags from '@/components/PostTags.astro'
import PostTitle from '@/components/PostTitle.astro'
import PostFeaturedImage from '@/components/PostFeaturedImage.astro'
import PostExcerpt from '@/components/PostExcerpt.astro'
import ReadMoreLink from '@/components/ReadMoreLink.astro'
import Pagination from '@/components/Pagination.astro'
import styles from '@/styles/blog.module.css'

export async function getStaticPaths({ paginate }) {
  const allPosts = await getAllPosts()
  const pageSize = 10
  return paginate(allPosts, { pageSize: pageSize })
}

const { page } = Astro.props

const { currentPage, lastPage } = page
const [rankedPosts, tags] = await Promise.all([getRankedPosts(), getAllTags()])
---

<Layout
  title={`Posts ${currentPage}/${lastPage}`}
  path={`/posts/page/${currentPage}`}
>
  <div slot="main" class={styles.main}>
    {
      page.data ? (
        page.data.map((post) => (
          <div class={styles.post} key={post.Slug}>
            <PostDate post={post} />
            <PostTags post={post} />
            <PostTitle post={post} />
            <PostFeaturedImage post={post} />
            <PostExcerpt post={post} />
            <ReadMoreLink post={post} />
          </div>
        ))
      ) : (
        <NoContents />
      )
    }

    <footer>
      <Pagination {...page} />
    </footer>
  </div>
</Layout>
